[submodule "frontend"]
	path = frontend
	url = https://github.com/PointPulse/frontend.git
[submodule "manifest"]
	path = manifest
	url = https://github.com/PointPulse/manifest.git
[submodule "proxy"]
	path = proxy
	url = https://github.com/PointPulse/proxy.git
[submodule "terraform"]
	path = terraform
	url = https://github.com/PointPulse/terraform.git
[submodule "users"]
	path = users
	url = https://github.com/PointPulse/users.git
[submodule "apidocs"]
	path = apidocs
	url = https://github.com/PointPulse/apidocs.git
[submodule "points-ledger"]
	path = points-ledger
	url = https://github.com/PointPulse/points-ledger.git
[submodule "redaction"]
	path = redaction
	url = https://github.com/PointPulse/redaction.git
[submodule "database"]
	path = database
	url = https://github.com/PointPulse/database.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/PointPulse/protobuf.git
[submodule "mermaid"]
	path = mermaid
	url = https://github.com/PointPulse/mermaid.git
